<%= render 'userinfo', user: @user %>


<h1>Users</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <% @users.each do |user| %>
    <td><%= user.name %></td>
    <td><%= user.name %></td>
    <td><%= user.name %></td>
    <% end %>
  </tr>
</table>
