<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>

<div>Title</div><br>
<p><%= f.text_field :title, autofocus: true, placeholder: "Title" %></p>
<div>Opinion</div><br>
<p><%= f.text_field :body, autofocus: true, placeholder: "Opinion" %></p>
<br>
<div><%= f.submit "Update Book" %></div>

<% end %>

