<h1>Books Detail</h1>
<table>
  <tr>
    <td>image<br>
    <%= @user.name %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td>edit</td>
    <td>destroy</td>
  </tr>
</table>
